.ic-Spin-cycle--faces, .ic-Spin-cycle--police-car, .ic-Spin-cycle--circles, .ic-Spin-cycle--classic-magenta-purple, .ic-Spin-cycle--classic {
    box-sizing: border-box;
    display: inline-block;
    vertical-align: middle;
    overflow: visible;
}
.ic-Spin-cycle--faces > svg, .ic-Spin-cycle--police-car > svg, .ic-Spin-cycle--circles > svg, .ic-Spin-cycle--classic-magenta-purple > svg, .ic-Spin-cycle--classic > svg {
    display: block;
    overflow: visible;
}
.ic-Spin-cycle--faces > svg > *, .ic-Spin-cycle--police-car > svg > *, .ic-Spin-cycle--circles > svg > *, .ic-Spin-cycle--classic-magenta-purple > svg > *, .ic-Spin-cycle--classic > svg > * {
    transform: translate3d(0, 0, 0);
    transform-origin: center;
    animation-iteration-count: infinite;
}
.ic-Spin-cycle--classic {
    margin: 12px 24px;
    width: 72px;
    height: 72px;
}
@keyframes spin-cycle {
    from {
        fill: #5f5ffe;
        transform: scale(1);
    }
    to {
        fill: rgba(255, 255, 255, 0);
        transform: scale(1);
    }
}
.ic-Spin-cycle--classic > svg {
    width: 72px;
    height: 72px;
}
.ic-Spin-cycle--classic > svg > * {
    fill: rgba(255, 255, 255, 0);
    animation-name: spin-cycle;
    animation-duration: 0.8s;
}
.ic-Spin-cycle--classic > svg > *:nth-of-type(1) {
    animation-delay: 0.1s;
}
.ic-Spin-cycle--classic > svg > *:nth-of-type(2) {
    animation-delay: 0.2s;
}
.ic-Spin-cycle--classic > svg > *:nth-of-type(3) {
    animation-delay: 0.3s;
}
.ic-Spin-cycle--classic > svg > *:nth-of-type(4) {
    animation-delay: 0.4s;
}
.ic-Spin-cycle--classic > svg > *:nth-of-type(5) {
    animation-delay: 0.5s;
}
.ic-Spin-cycle--classic > svg > *:nth-of-type(6) {
    animation-delay: 0.6s;
}
.ic-Spin-cycle--classic > svg > *:nth-of-type(7) {
    animation-delay: 0.7s;
}
.ic-Spin-cycle--classic > svg > *:nth-of-type(8) {
    animation-delay: 0.8s;
}
.ic-Spin-cycle--classic-magenta-purple {
    margin: 12px 24px;
    width: 72px;
    height: 72px;
}
@keyframes yellow {
    from {
        fill: #ef0878;
        transform: scale(1);
    }
    to {
        fill: #5f5ffe;
        transform: scale(1);
    }
}
.ic-Spin-cycle--classic-magenta-purple > svg {
    width: 72px;
    height: 72px;
}
.ic-Spin-cycle--classic-magenta-purple > svg > * {
    fill: #5f5ffe;
    animation-name: yellow;
    animation-duration: 0.8s;
}
.ic-Spin-cycle--classic-magenta-purple > svg > *:nth-of-type(1) {
    animation-delay: 0.1s;
}
.ic-Spin-cycle--classic-magenta-purple > svg > *:nth-of-type(2) {
    animation-delay: 0.2s;
}
.ic-Spin-cycle--classic-magenta-purple > svg > *:nth-of-type(3) {
    animation-delay: 0.3s;
}
.ic-Spin-cycle--classic-magenta-purple > svg > *:nth-of-type(4) {
    animation-delay: 0.4s;
}
.ic-Spin-cycle--classic-magenta-purple > svg > *:nth-of-type(5) {
    animation-delay: 0.5s;
}
.ic-Spin-cycle--classic-magenta-purple > svg > *:nth-of-type(6) {
    animation-delay: 0.6s;
}
.ic-Spin-cycle--classic-magenta-purple > svg > *:nth-of-type(7) {
    animation-delay: 0.7s;
}
.ic-Spin-cycle--classic-magenta-purple > svg > *:nth-of-type(8) {
    animation-delay: 0.8s;
}
.ic-Spin-cycle--circles {
    margin: 12px 24px;
    width: 100px;
    height: 72px;
}
@keyframes circles {
    from {
        fill: rgba(95, 95, 254, 0.8);
        transform: scale(1.5);
    }
    to {
        fill: rgba(95, 95, 254, 0.5);
        transform: scale(1);
    }
}
.ic-Spin-cycle--circles > svg {
    width: 100px;
    height: 72px;
}
.ic-Spin-cycle--circles > svg > * {
    fill: rgba(95, 95, 254, 0.5);
    animation-name: circles;
    animation-duration: 0.8s;
}
.ic-Spin-cycle--circles > svg > *:nth-of-type(1) {
    animation-delay: 0.1s;
}
.ic-Spin-cycle--circles > svg > *:nth-of-type(2) {
    animation-delay: 0.2s;
}
.ic-Spin-cycle--circles > svg > *:nth-of-type(3) {
    animation-delay: 0.3s;
}
.ic-Spin-cycle--circles > svg > *:nth-of-type(4) {
    animation-delay: 0.4s;
}
.ic-Spin-cycle--circles > svg > *:nth-of-type(5) {
    animation-delay: 0.5s;
}
.ic-Spin-cycle--circles > svg > *:nth-of-type(6) {
    animation-delay: 0.6s;
}
.ic-Spin-cycle--circles > svg > *:nth-of-type(7) {
    animation-delay: 0.7s;
}
.ic-Spin-cycle--circles > svg > *:nth-of-type(8) {
    animation-delay: 0.8s;
}
.ic-Spin-cycle--police-car {
    margin: 12px 24px;
    width: 100px;
    height: 72px;
}
@keyframes your-animation {
    from {
        fill: #5f5ffe;
        transform: scale(1.1);
    }
    to {
        fill: rgba(34, 34, 34, 0.8);
        transform: scale(0.9);
    }
}
.ic-Spin-cycle--police-car > svg {
    width: 100px;
    height: 72px;
}
.ic-Spin-cycle--police-car > svg > * {
    fill: rgba(34, 34, 34, 0.8);
    animation-name: your-animation;
    animation-duration: 0.8s;
}
.ic-Spin-cycle--police-car > svg > *:nth-of-type(1) {
    animation-delay: 0.1s;
}
.ic-Spin-cycle--police-car > svg > *:nth-of-type(2) {
    animation-delay: 0.2s;
}
.ic-Spin-cycle--police-car > svg > *:nth-of-type(3) {
    animation-delay: 0.3s;
}
.ic-Spin-cycle--police-car > svg > *:nth-of-type(4) {
    animation-delay: 0.4s;
}
.ic-Spin-cycle--police-car > svg > *:nth-of-type(5) {
    animation-delay: 0.5s;
}
.ic-Spin-cycle--police-car > svg > *:nth-of-type(6) {
    animation-delay: 0.6s;
}
.ic-Spin-cycle--police-car > svg > *:nth-of-type(7) {
    animation-delay: 0.7s;
}
.ic-Spin-cycle--police-car > svg > *:nth-of-type(8) {
    animation-delay: 0.8s;
}
.ic-Spin-cycle--faces {
    margin: 12px 24px;
    width: 100px;
    height: 72px;
}
@keyframes faces {
    from {
        fill: rgba(239, 8, 120, 0.8);
        transform: scale(1.25);
    }
    to {
        fill: rgba(95, 95, 254, 0.7);
        transform: scale(1);
    }
}
.ic-Spin-cycle--faces > svg {
    width: 100px;
    height: 72px;
}
.ic-Spin-cycle--faces > svg > * {
    fill: rgba(95, 95, 254, 0.7);
    animation-name: faces;
    animation-duration: 1.2s;
}
.ic-Spin-cycle--faces > svg > *:nth-of-type(1) {
    animation-delay: 0.1s;
}
.ic-Spin-cycle--faces > svg > *:nth-of-type(2) {
    animation-delay: 0.2s;
}
.ic-Spin-cycle--faces > svg > *:nth-of-type(3) {
    animation-delay: 0.3s;
}
.ic-Spin-cycle--faces > svg > *:nth-of-type(4) {
    animation-delay: 0.4s;
}
.ic-Spin-cycle--faces > svg > *:nth-of-type(5) {
    animation-delay: 0.5s;
}
.ic-Spin-cycle--faces > svg > *:nth-of-type(6) {
    animation-delay: 0.6s;
}
.ic-Spin-cycle--faces > svg > *:nth-of-type(7) {
    animation-delay: 0.7s;
}
.ic-Spin-cycle--faces > svg > *:nth-of-type(8) {
    animation-delay: 0.8s;
}
.ic-Spin-cycle--faces > svg > *:nth-of-type(9) {
    animation-delay: 0.9s;
}
.ic-Spin-cycle--faces > svg > *:nth-of-type(10) {
    animation-delay: 1s;
}
.ic-Spin-cycle--faces > svg > *:nth-of-type(11) {
    animation-delay: 1.1s;
}
.ic-Spin-cycle--faces > svg > *:nth-of-type(12) {
    animation-delay: 1.2s;
}
:root {
    background: #222;
    height: 100%;
}
body {
    text-align: center;
    height: 100%;
    color: #111;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
.words {
    text-align: left;
    box-sizing: border-box;
    padding: 24px;
    line-height: 1.5;
    background: #7070fe;
    margin-bottom: 48px;
}
.words h1 {
    color: white;
    margin-top: 0;
}
.examples {
    flex: 1;
    text-align: center;
}
